@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
default - white mode colors

background = #FCFCED -- light cream
nav, footer bg = #F5F5F5 -- white snow
nav, footer text =  #192231 -- dark blue
headings (h1-h6) text = #192231 -- dark blue
paragraph (p) text = #383d45 -- dark gray
span (between para or headings) = #383d45 -- dark gray
category img bg = #ff3d00 -- dark orange
hover - category img bg = #ffbc11 -- dark yellow
avatar img bg = #ff3d00 -- dark orange
container(signIn, signUp, addProduct, orderProduct, cart) bg = #fbffe7 -- light white
container(signIn, signUp, addProduct, orderProduct, cart) text main = #192231 -- dark blue
container(signIn, signUp, addProduct, orderProduct, cart) text small = #383d45 -- dark gray
img(products) bg = #fbffe7 -- light white
borders (table, nav, footer, input, textarea) = #0a837f -- dark green
tables bg = #fbffe7 -- light white
tables text = #192231 -- dark blue
buttons bg = #0a837f -- dark green
buttons text = #fbffe7 -- light white
buttons hover = #0b524f -- darker green
input, textarea bg = transparent
input, textarea text = #192231 -- dark blue

shadows (buttons, cards, avatars) = box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
hover shadows (buttons, cards, avatars) = box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);

nav, footer links (a, menu, icons, cart, user, socials) bg and text = #192231 -- dark blue
hover - nav, footer links(a, menu, icons, cart, user, socials) bg and text = #0a837f -- dark green

--- Colors ---
#FCFCED -- light cream
#0a837f -- dark green
#0b524f -- darker green
#192231 -- dark blue
#383d45 -- dark gray
#231a1a -- dark brown
#ff3d00 -- dark orange
#ffbc11 -- dark yellow
#d69b5b -- light skin
#fbffe7 -- light white
#F5F5F5 -- white snow

/* 
---- Shadows for light mode ---- 
.shadow-light {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.shadow-light-hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

*/

/* --------------------------------------------------- -------------------------------*/

/*
Dark mode colors

background = #192231 -- dark blue
nav, footer bg = #192231 -- dark blue
nav, footer text =  #F5F5F5 -- white snow
headings (h1-h6) text = #F5F5F5 -- white snow
paragraph (p) text = #FCFCED -- light cream
span (between para or headings) = #d69b5b -- light skin
category img bg = #ffbc11 -- dark yellow
hover - category img bg = #ff3d00 -- dark orange
avatar img bg = #ffbc11 -- dark yellow
container(signIn, signUp, addProduct, orderProduct, cart) bg = #fbffe7 -- light white
container(signIn, signUp, addProduct, orderProduct, cart) text main = #192231 -- dark blue
container(signIn, signUp, addProduct, orderProduct, cart) text small = #383d45 -- dark gray
img(products) bg = #fbffe7 -- light white
borders (table, nav, footer, input, textarea) = #0a837f -- dark green
tables bg = #fbffe7 -- light white
tables text = #192231 -- dark blue
buttons bg = #0a837f -- dark green
buttons text = #fbffe7 -- light white
buttons hover = #0b524f -- darker green

input, textarea bg = transparent
input, textarea text = #F5F5F5 -- white snow

nav, footer links (a, menu, icons, cart, user, socials) bg and text = #fbffe7 -- light white
hover - nav, footer links(a, menu, icons, cart, user, socials) bg and text = #F5F5F5 -- white snow


*/

/*

--- Shadows for dark mode ---

.shadow-dark {
  box-shadow: 0 4px 6px -1px rgba(255, 255, 255, 0.1), 0 2px 4px -2px rgba(255, 255, 255, 0.1);
}

.shadow-dark-hover {
  box-shadow: 0 10px 15px -3px rgba(255, 255, 255, 0.1), 0 4px 6px -4px rgba(255, 255, 255, 0.1);
}

*/

/* 
tags, attributes

-- nav, main, section, footer
-- h1, h2, h3, p, span, a, ul, li, button, img, table

classes
-- logo, category, productCard, productImg, productCardBtn, trackCard, testimonialLine, cartItemsContainer, cartPriceContainer, cartPriceContainerBtn, loginContainer, loginContainerBtn, signupContainer,signupContainerBtn, AdminDashProductsContainer, AddProductBtn, AdminDashOrdersContainer, AdminDashUsersContainer, AddProductContainer, AddProductContainerBtn, UpdateProductContainer, UpdateProductContainerBtn, UserDashContainer, UserOrderDetailsContainer


same bgColor:

loginContainer, signupContainer, AdminDashProductsContainer, AdminDashOrdersContainer, AdminDashUsersContainer, AddProductContainer, UpdateProductContainer, UserDashContainer, UserOrderDetailsContainer

same border colors, bg transparent
input, textarea


*/

/* 
All Compoents and Pages in src.

-- App.jsx
---- components
-- admin -- OrderDetails, ProductDetails, UserDetails.
-- buyNowModal -- BuyNowModal
-- category -- Category
-- footer -- Footer
-- heroSection -- HeroSection
-- homeProductCard -- HomeProductCard
-- layout -- Layout
-- loader -- Loader
-- navbar -- Navbar
-- scrollTop -- ScrollTop
-- searchBar -- SearchBar
-- testimonial -- Testimonial
-- track -- Track

---- context
-- myContext
-- myState

---- firebase
-- firebaseConfig

---- pages
-- admin -- AddProduct, AdminDashboard, UpdateProduct
-- allProducts -- AllProducts
-- cart -- Cart
-- categoryPage -- CategoryPage
-- home - Home
-- noPage -- NoPage
-- productInfo -- ProductInfo
-- registration -- Login, Signup
-- user -- UserDashboard

---- protectedRoutes
-- AdminProtectedRoute
-- USerProtectedRoute

---- redux
-- cartSlice
-- store

*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Light Mode Styles */
.light-mode {
  --background: #fcfced;
  --nav-footer-bg: #f5f5f5;
  --nav-footer-text: #192231;
  --headings-text: #192231;
  --paragraph-text: #383d45;
  --span-text: #383d45;
  --category-img-bg: #ff3d00;
  --hover-category-img-bg: #ffbc11;
  --avatar-img-bg: #ff3d00;
  --container-bg: #fbffe7;
  --container-text-main: #192231;
  --container-text-small: #383d45;
  --img-bg: #fbffe7;
  --borders: #0a837f;
  --tables-bg: #fbffe7;
  --tables-text: #192231;
  --buttons-bg: #0a837f;
  --buttons-text: #fbffe7;
  --buttons-hover-bg: #0b524f;
  --input-textarea-bg: transparent;
  --input-textarea-text: #192231;
  --nav-footer-links-bg-text: #192231;
  --hover-nav-footer-links-bg-text: #0a837f;
  --searchContainerItems: #f5f5f5;
  --shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  --shadow-hover: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

/* Dark Mode Styles */
.dark-mode {
  --background: #192231;
  --nav-footer-bg: #192231;
  --nav-footer-text: #f5f5f5;
  --headings-text: #f5f5f5;
  --paragraph-text: #fcfced;
  --span-text: #d69b5b;
  --category-img-bg: #ffbc11;
  --hover-category-img-bg: #ff3d00;
  --avatar-img-bg: #ffbc11;
  --container-bg: #192231;
  --container-text-main: #fcfced;
  --container-text-small: #d69b5b;
  --img-bg: #fbffe7;
  --borders: #d69b5b;
  --tables-bg: #192231;
  --tables-text: #fcfced;
  --buttons-bg: #0a837f;
  --buttons-text: #fbffe7;
  --buttons-hover-bg: #0b524f;
  --input-textarea-bg: transparent;
  --input-textarea-text: #fcfced;
  --nav-footer-links-bg-text: #d69b5b;
  --hover-nav-footer-links-bg-text: #ff3d00;
  --searchContainerItems: #0b524f;
  --shadow: 0 4px 6px -1px rgba(255, 255, 255, 0.1),
    0 2px 4px -2px rgba(255, 255, 255, 0.1);
  --shadow-hover: 0 10px 15px -3px rgba(255, 255, 255, 0.1),
    0 4px 6px -4px rgba(255, 255, 255, 0.1);
}

/* Apply Variables */
body {
  background: var(--background);
  color: var(--paragraph-text);
}

nav,
footer {
  background: var(--nav-footer-bg);
  color: var(--nav-footer-text);
  transition: ease-in 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--headings-text);
  transition: ease-in 0.3s;
}

p {
  color: var(--paragraph-text);
  transition: ease-in 0.3s;
}

span {
  color: var(--span-text);
  transition: ease-in 0.3s;
}

.category {
  background: var(--category-img-bg);
  transition: ease-in 0.3s;
}

.category:hover {
  background: var(--hover-category-img-bg);
}

/* Containers */
.loginContainer,
.signupContainer,
.AdminDashProductsContainer,
.AdminDashOrdersContainer,
.AdminDashUsersContainer,
.AddProductContainer,
.UpdateProductContainer,
.UserDashContainer,
.UserOrderDetailsContainer,
.searchContainer {
  background: var(--container-bg);
  color: var(--container-text-main);
  transition: ease-in 0.3s;
}

.searchContainerItems:hover {
  background-color: var(--searchContainerItems);
}

/* Buttons */
.loginContainerBtn,
.signupContainerBtn,
.productCardBtn,
.cartPriceContainerBtn,
.AddProductBtn,
.AddProductContainerBtn,
.UpdateProductContainerBtn,
.returnBtn {
  background: var(--buttons-bg);
  color: var(--buttons-text);
  box-shadow: var(--shadow);
  transition: ease-in 0.3s;
}

/* Button Hover */
.loginContainerBtn:hover,
.signupContainerBtn:hover,
.productCardBtn:hover,
.cartPriceContainerBtn:hover,
.AddProductBtn:hover,
.AddProductContainerBtn:hover,
.UpdateProductContainerBtn:hover,
.returnBtn {
  background: var(--buttons-hover-bg);
  box-shadow: var(--shadow-hover);
}

.productCard {
  transition: ease-in-out 0.3s;
  box-shadow: 0px 1px 2px var(--nav-footer-text);
  transition: ease-in 0.3s;
}

.productCard:hover {
  box-shadow: 1px 2px 3px var(--nav-footer-text);
}

/* Cards */
.trackCard,
.productCard,
.testimonialCard {
  background-color: var(--container-bg);
  color: var(--container-text-small);
  transition: ease-in 0.3s;
}

.productCard h1,
h2,
h3,
h4 {
  color: var(--container-text-main);
  transition: ease-in 0.3s;
}

.productCard span,
p {
  color: var(--container-text-main);
  transition: ease-in 0.3s;
}

/* Product Image */
.productImg {
  background: var(--img-bg);
  transition: ease-in 0.3s;
}

/* Form Fields */
input,
textarea {
  background: var(--input-textarea-bg);
  color: var(--input-textarea-text);
  border-color: var(--borders);
  transition: ease-in 0.3s;
}

.nav-footer-links a {
  background: var(--nav-footer-links-bg-text);
  color: var(--nav-footer-links-bg-text);
  transition: ease-in 0.3s;
}

.nav-footer-links a:hover {
  background: var(--hover-nav-footer-links-bg-text);
  color: var(--hover-nav-footer-links-bg-text);
}

.tableContainer {
  background: var(--tables-bg);
  color: var(--tables-text);
  border-color: var(--borders);
  transition: ease-in 0.3s;
}